.characterLength {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.characterLength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
